@model WebApplication4.Models.Patrol

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Patrol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Radiowozy_Policyjne_Nr_Rejestracyjny)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Radiowozy_Policyjne_Nr_Rejestracyjny)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id_Patrolu }) |
    @Html.ActionLink("Powrót do spisu", "Index")
</p>
