@model WebApplication4.Models.Funkcjonariusz_w_patrolu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Funkcjonariusz_w_patrolu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Funkcjonariusz.adres_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funkcjonariusz.adres_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patrol.Radiowozy_Policyjne_Nr_Rejestracyjny)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patrol.Radiowozy_Policyjne_Nr_Rejestracyjny)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
